frame-*
applet_js
.DS_Store
sketch.properties
*.psd
TextureMappingMultiple/data/Calibri-14.vlw
*.mov
TextureMappingMultipleBackup/data/7sac9xt9.bmp
TextureMappingMultiple/*.mov
whitney-test-01.png

TextureMappingMultipleBackup/data/Calibri-14.vlw

TextureMappingMultipleP1_5/frames/kittnet01_6k.mp4

TextureMappingMultipleP1_5/frames/Kittney01.aep

TextureMappingMultiple/.DS_Store
*/application/*
TextureMappingMultipleP1_5/application.macosx/*
TextureMappingMultiple/.DS_Store
